$white: #FFFFFF;
$green-500: #36B37E;
$yellow-500: #FFAB00;
$purple-500: #6554C0;
$red-500: #FF000A;
$blue-600: #0052CC;
$blue-900: #091E42;
$light-200: #F4F5F7;
$light-300: #EBECF0;

$primary: $blue-900;
$secondary: $red-500;